CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
node_modules
cmake_build
curl_build
relocatable_libcurl_arm64/
relocatable_libcurl_x86_64/
relocatable_libwormhole_arm64
relocatable_libwormhole_x86_64
package/
test-results.xml
